---
title: EDU verifikacija
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946774"
---
# <a name="edu-verification"></a>EDU verifikacija

U većini slučajeva, zahtevi za akademske uslove se obrađuju u roku od 24 do 48 sati. Neki zahtevi mogu zahtevati detaljnije pregledanje i obrada može da proteže do 10 dana. Kada se završi, poslaćemo e-poruku sa statusom prihvođanja vaše škole.

**Važno** Ako ste izašli iz čarobnjaka za verifikaciju pre nego što ste ušli u domen, možete da nastavite čarobnjak za akademsku [verifikaciju](https://go.microsoft.com/fwlink/p/?linkid=2135255) u bilo kom trenutku tokom besplatne probne probne godine.

Ako želite da proverite status domena, idite na [Microsoft 365 centar administracije.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Na matičnoj stranici pomerite se do dna i pronađite **karticu Naplata.** Kartica **Naplata** ukazuje na status procesa verifikacije (odobreno, na čekanju, odbijeno ili dodavanje domena).

Ako vaš zahtev bude odbijen, pogledajte [tko moja škola ne ispunjava uslove. Šta sada da radim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)