---
title: EDU Verifikacija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205281"
---
# <a name="edu-verification"></a>EDU Verifikacija

U većini slučajeva, zahtevi za akademsku kvalifikovnost se obrađuju u roku od 24-48 časova. Neki zahtevi mogu da zahtevaju detaljnu reviziju i mogu da preduzmu do 10 radnih dana za obradu. Kada završite, poslaćemo vam e-poruku sa statusom vaše škole.

**Važnim** Ako ste čarobnjak za verifikaciju uneli pre unošenja domena, u bilo kom trenutku možete da [nastavite sa čarobnjakom za proveru akademskih potvrda](https://go.microsoft.com/fwlink/p/?linkid=2135255) .

Ako želite da proverite status domena, posetite [Microsoft 365 admin Center](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na matičnoj stranici pomerite se do dna i pronađite karticu za **naplatu** . Kartica za **naplatu** ukazuje na status procesa verifikacije (odobren, Neobrađeno, odbijen ili dodao vaš domen).

Ako vam je zahtev odbijen, vidite da [moja škola ne ispunjava uslove. Šta sada da radim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)