---
title: EDU Verifikacija
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205281"
---
# <a name="edu-verification"></a><span data-ttu-id="feebb-102">EDU Verifikacija</span><span class="sxs-lookup"><span data-stu-id="feebb-102">EDU verification</span></span>

<span data-ttu-id="feebb-103">U većini slučajeva, zahtevi za akademsku kvalifikovnost se obrađuju u roku od 24-48 časova.</span><span class="sxs-lookup"><span data-stu-id="feebb-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="feebb-104">Neki zahtevi mogu da zahtevaju detaljnu reviziju i mogu da preduzmu do 10 radnih dana za obradu.</span><span class="sxs-lookup"><span data-stu-id="feebb-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="feebb-105">Kada završite, poslaćemo vam e-poruku sa statusom vaše škole.</span><span class="sxs-lookup"><span data-stu-id="feebb-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="feebb-106">**Važnim** Ako ste čarobnjak za verifikaciju uneli pre unošenja domena, u bilo kom trenutku možete da [nastavite sa čarobnjakom za proveru akademskih potvrda](https://go.microsoft.com/fwlink/p/?linkid=2135255) .</span><span class="sxs-lookup"><span data-stu-id="feebb-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="feebb-107">Ako želite da proverite status domena, posetite [Microsoft 365 admin Center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="feebb-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="feebb-108">Na matičnoj stranici pomerite se do dna i pronađite karticu za **naplatu** .</span><span class="sxs-lookup"><span data-stu-id="feebb-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="feebb-109">Kartica za **naplatu** ukazuje na status procesa verifikacije (odobren, Neobrađeno, odbijen ili dodao vaš domen).</span><span class="sxs-lookup"><span data-stu-id="feebb-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="feebb-110">Ako vam je zahtev odbijen, vidite da [moja škola ne ispunjava uslove. Šta sada da radim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="feebb-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>