---
title: EDU verifikacija
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814386"
---
# <a name="edu-verification"></a><span data-ttu-id="10e0e-102">EDU verifikacija</span><span class="sxs-lookup"><span data-stu-id="10e0e-102">EDU verification</span></span>

<span data-ttu-id="10e0e-103">U većini slučajeva, zahtevi za akademske uslove se obrađuju u roku od 24 do 48 sati.</span><span class="sxs-lookup"><span data-stu-id="10e0e-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="10e0e-104">Neki zahtevi mogu zahtevati detaljnije pregledanje i obrada može da proteže do 10 dana.</span><span class="sxs-lookup"><span data-stu-id="10e0e-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="10e0e-105">Kada se završi, poslaćemo e-poruku sa statusom prihvođanja vaše škole.</span><span class="sxs-lookup"><span data-stu-id="10e0e-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="10e0e-106">**Važno** Ako ste izašli iz čarobnjaka za verifikaciju pre nego što ste ušli u domen, možete da nastavite čarobnjak za akademsku [verifikaciju](https://go.microsoft.com/fwlink/p/?linkid=2135255) u bilo kom trenutku tokom besplatne probne probne godine.</span><span class="sxs-lookup"><span data-stu-id="10e0e-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="10e0e-107">Ako želite da proverite status domena, idite u [Microsoft 365 centar aktivnosti.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="10e0e-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="10e0e-108">Na matičnoj stranici pomerite se do dna i pronađite **karticu Naplata.**</span><span class="sxs-lookup"><span data-stu-id="10e0e-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="10e0e-109">Kartica **Naplata** ukazuje na status procesa verifikacije (odobreno, na čekanju, odbijeno ili dodavanje domena).</span><span class="sxs-lookup"><span data-stu-id="10e0e-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="10e0e-110">Ako vaš zahtev bude odbijen, pogledajte [tko moja škola ne ispunjava uslove. Šta sada da radim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="10e0e-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>