---
title: 8000038 GDPR naloga za dete
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057008"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rođenja koji je prikazan u Microsoft nalogu je netačan

Microsoft veoma ozbiljno shvata bezbednost naloga. Možda je od vas nedavno zatraženo da pružite saglasnost roditelja za Microsoft nalog deteta. Ako vam je potrebna pomoć u obezbeđivanju saglasnosti roditelja ili ažuriranju datuma rođenja na Microsoft nalogu, pogledajte članak Verifikacija uzrasta za [saglasnost roditelja.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Saznajte više o [saglasnosti roditelja i Microsoft nalozima za dete.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  