---
title: 8000038 GDPR depotvrda naloga deteta
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707977"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d4f05-102">Datum rođenja prikazan na Microsoft nalogu je netačan</span><span class="sxs-lookup"><span data-stu-id="d4f05-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d4f05-103">Microsoft prima bezbednost naloga veoma ozbiljno.</span><span class="sxs-lookup"><span data-stu-id="d4f05-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="d4f05-104">Možda ste nedavno upitani da obezbedite roditeljski pristanak za Microsoft nalog deteta.</span><span class="sxs-lookup"><span data-stu-id="d4f05-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="d4f05-105">Ako vam je potrebna pomoć za roditeljski pristanak ili ažuriranje datuma rođenja na Microsoft nalogu, pogledajte [verifikaciju starosti za roditeljski pristanak](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="d4f05-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d4f05-106">Saznajte više o [roditeljski pristanak i Microsoft podređenim nalozima](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="d4f05-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  