---
title: Rešavanje problema sa verifikovanjem izdavača
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885370"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemi povezani sa verifikacijom izdavača za programere

**Preporučeni koraci** 

Da biste rešili probleme vezane za verifikaciju u programu Publisher, uradite sledeće korake:

1. Pregledajte preduslovi i druge zahteve da biste se uverili da su svi ispunjeni.
2. Pregledajte uputstva da biste [označili aplikaciju kao Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i uverite se da su sve korake izvršene uspešno.
3. Pregledajte listu [uobičajenih problema](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i slijedite preporučene korake ako imate problem sa takve liste.
4. Reprodukujemo zahtev pomoću programa [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) da biste prikupili dodatne informacije i iskljuиili sve probleme u usluzi UI.

**Preporučeni dokumenti**

- [Verifikacija u programu Publisher](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Označite aplikaciju kao što je Publisher potvrdio](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Rešavanje problema sa verifikovanjem izdavača](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

