---
title: Rešavanje problema sa verifikovanjem izdavača
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sr-Latn-RS
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885370"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="8916c-102">Problemi povezani sa verifikacijom izdavača za programere</span><span class="sxs-lookup"><span data-stu-id="8916c-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="8916c-103">**Preporučeni koraci**</span><span class="sxs-lookup"><span data-stu-id="8916c-103">**Recommended steps**</span></span> 

<span data-ttu-id="8916c-104">Da biste rešili probleme vezane za verifikaciju u programu Publisher, uradite sledeće korake:</span><span class="sxs-lookup"><span data-stu-id="8916c-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="8916c-105">Pregledajte preduslovi i druge zahteve da biste se uverili da su svi ispunjeni.</span><span class="sxs-lookup"><span data-stu-id="8916c-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="8916c-106">Pregledajte uputstva da biste [označili aplikaciju kao Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) i uverite se da su sve korake izvršene uspešno.</span><span class="sxs-lookup"><span data-stu-id="8916c-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="8916c-107">Pregledajte listu [uobičajenih problema](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) i slijedite preporučene korake ako imate problem sa takve liste.</span><span class="sxs-lookup"><span data-stu-id="8916c-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="8916c-108">Reprodukujemo zahtev pomoću programa [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) da biste prikupili dodatne informacije i iskljuиili sve probleme u usluzi UI.</span><span class="sxs-lookup"><span data-stu-id="8916c-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="8916c-109">**Preporučeni dokumenti**</span><span class="sxs-lookup"><span data-stu-id="8916c-109">**Recommended documents**</span></span>

- [<span data-ttu-id="8916c-110">Verifikacija u programu Publisher</span><span class="sxs-lookup"><span data-stu-id="8916c-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="8916c-111">Označite aplikaciju kao što je Publisher potvrdio</span><span class="sxs-lookup"><span data-stu-id="8916c-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="8916c-112">Rešavanje problema sa verifikovanjem izdavača</span><span class="sxs-lookup"><span data-stu-id="8916c-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

